<%- include('includes/header.ejs') %>

  <div class="container mb-3" style="width: 30vw; margin-top: 10vh;">
    <h4> Name: <%=data.name%></h4>
    <h4> email: <%=data.email%></h4>
    <h4> phone: <%=data.phone%></h4>
    <!-- <h4>Your Name: <%=data.name%></h4> -->
  </div>

  <%- include('includes/footer.ejs') %>